.allProductsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 30px
}

.findProductContainer {
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}
