* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #2980b9;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    color: #bababa;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ffffff;
}

input[type="checkbox"] {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 20px 0;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked ~ .nav-links {
        display: flex;
    }
}

.activeLink {
    color: #FFF !important;
    border-bottom: 2px solid #ffffff !important;
}

.logOutBtn {
    background-color: #b5e103;
    border: none;
    font-weight: 800;
    color: #000000;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    min-width: 0;
}

.logOutBtn:hover {
    background-color: #fa4646;
}
