.profileContainer {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.profileContainer  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profileContainer h1 {
    text-align: center;
}

.profileContainer .profile-image {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.profileContainer label {
    font-weight: bold;
}

.profileContainer input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.profileContainer input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.profileContainer input[type="submit"]:hover {
    background-color: #45a049;
}
